body {
  font: 10px sans-serif;
  background-color: #242730;
}

.axis path,
.axis line {
  fill: none;
  stroke: #46464F;
  opactiy: 0.0001;
  shape-rendering: crispEdges;
}
.x.axis path, .y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #377CC3;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #46464F;
  stroke: #377CC3;
}
.grid .tick {
  stroke: #46464F;
  opacity: 0.7;
  stroke-dasharray="1,3";
}
.axis g.tick{
  stroke: #56565F;
}
.focus text{
  stroke: #A6A6AF;
}
.grid path {
      stroke-width: 0;
}
.area {
  /*
  here's where the gradient would go
  **/
    fill: #377CC3;
    opacity: .1;
    stroke-width: 0;
}
.yAxisTicks {
  /*
  styling for axis ticks/labels goes here
  **/
}
.xAxisTicks {
  /*
  styling for axis ticks/labels goes here
  **/
}